

#container2{
    display:inline-block;
    flex-direction: column;
    background-color:black;
    overflow: auto;
    width: 90px;
    margin: 0 auto;
    height: 50vh;
    
}

#container2 a{
    display:flex;
    width: 60px;
    height: 50px;
    padding: 0px 12px;
    align-items:center;
}


.fa2{
    width:100%;
}

.fa2-trash{
    width: 100%;
    
}

#container2 a:hover{
    background-color:gray;
}
#container2 a:focus{
    background-color:red;
 }
